/*large screen */
@media only screen and (min-width: 1025px) {
#Menucontainer {
  width: 100%;
  position: relative;
  text-align: left;
  /*top: 100px;*/
}

#menu {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px;
    margin: auto;
    z-index: 10;
}
#menu ul {
    list-style: none;
    margin: auto;
    padding: 0;
    float: left;
    width: 11em;
    border-radius: 0px;
    transition: 250ms ease all;
}

#menu a, #menu h2 {
    font-weight: bold;
    font-size: 20px;
    font-size: 1.7vw;
    display: block;
    border-width: 2px 2px 2px 2px;
    border-style: hidden;
    margin: auto;
    padding: 2px 3px;
    border-radius: 30px;
}

#menu h2 {
    text-transform: uppercase;
    border-radius: 0px;
}

#menu a {
    text-decoration: none;
    text-align: center;
    border-radius: 0px;
}

#menu a:hover {
    transition: 300ms ease-in;
}
#menu #selected a {
    transition: 300ms ease-in;
}

/* position the popout */

#menu li {position: relative;}

#menu ul ul {
    position: absolute;
    z-index: 500;
    /*filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;*/
}
#menu ul ul a {

}

#menu ul ul a:hover {
    transition: 300ms ease-in;
}

#menu ul ul ul {
    top: 0;
    left: 100%;
}

/* hiding the Hovers */

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;
transition: 300ms ease-in;
}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;
transition: 300ms ease-in;
}

.box {
  display: none;
}
#menu .close {
  display: none;
}

.collapsibleList label {
  display: none;
}

.collapsibleList li > input + * {
 display: none;
}
.collapsibleList li > input {
 display: none;
}
}

/*Small screen */

@media only screen and (max-device-width: 1024px) and (orientation: landscape), (max-width: 1025px){
    
h1 {
  text-align: center;
  margin: 10px 0;
}

.box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  border-width: 1px; 
  border-style: solid;
  text-align: right;
  z-index: -1;
}

.menuicon_container {
  position: absolute;
  cursor: pointer;
  opacity: 100;
  width: 35px;
  transition: 0.8s;
  top: 0px;
  right: 10px;
}
.menuicon_menu-Line {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  border-radius: 50px/50px;
 }

.menuicon_container:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menucloseicon_container {
  position: fixed;
  cursor: pointer;
  opacity: 100;
  width: 35px;
  transition: 0.8s;
  top: -25px;
  right: 10px;
   
}
.menucloseicon_menu-Line1 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  border-radius: 50px/50px;
  -webkit-transform:
            translateY(-20px)
            translateX(7px)
            rotate(45deg); 
  position: absolute;
  top: 15px;
  right: -5px;
 }

 .menucloseicon_menu-Line2 {
     float: top;
    position: absolute;
    top: 0px;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  border-radius: 50px/50px;
  -webkit-transform:
            translateY(-20px)
            translateX(7px)
            rotate(-45deg); 
  top: 15px;
  right: -5px;
  position: absolute;
 }

.button {
  position: relative;
  top: 0px;
  right: 0px;
  padding: 8px;
  border-width: 0px;
  border-style: solid;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
  font-size: 20px;
  font-weight: bold;
}
.button:hover {
}

.Menucontainer {
  position: absolute;
  top: 40px;
  bottom: 0px;
  right: 0;
  display: none;
  opacity: 0;
  z-index: 1;
  width:30%;
}
.Menucontainer:target {
  display: block;
  opacity: 1;
}

#menu {
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  transition: all .1s ease-in-out;
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, 0%);
}

.menu ul a:hover {
}
.collapsibleList label:hover {
}


@media only screen and (max-device-width: 700px), (max-width: 700px){
  .box{
    width: 100%;
  }
  .Menucontainer {
      width: 100%;
  }
}

@media only screen and (max-device-width:900px) and (min-device-width: 700px), (max-width: 900px) and (min-width: 700px){
  .box{
    width: 100%;
  }
  #menu{
    width: 100%;
  }
  .Menucontainer {
      width: 50%;
  }
}

#menu ul a {
    font-weight: bold;
    font-size: 20px;
    top: 0%;
    left: 0%;
    /*transform: translate(-50%, -50%);*/
    z-index: 10;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

#menu ul{
  margin: 0px auto;
  padding: 1px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  list-style: none;  
  width: 100%;
}

#menu li{
  margin: 0px auto;
  padding: 1px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

#menu li:hover {
}

#menu li li{
  margin: 0px auto;
  padding: 0px;
  border-radius: 0px;
 /* background-image: linear-gradient(to bottom, #6941E0 0%, #41B9E0 100%);*/
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}


#menu ul li li a {
    font-weight: bold;
    font-size: 20px;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    text-decoration: none;
}

#menu h2 {
  margin-top: 0;
}

#menu .close {
  position: absolute;
  top: -40px;
  right: -2px;
  width: 45px;
  height: 45px;
  transition: all 10ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;

  
}
#menu .close:hover {
}
#menu .content {
  max-height: 100%;
  overflow: auto;
}
.collapsibleList li > img:checked + * {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
  
.collapsibleList li > input + * {
 display: none;
}
 
.collapsibleList li > input:checked + * {
 display: block;
}

.collapsibleList li > img:checked + * {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.collapsibleList li  > input:checked + img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.collapsibleList li > input {
 display: none;
}

.collapsibleList label {
  position: relative;
  top: 0px;
  float: right;
  padding-right: 10%;
  padding-left: 75%;
  transition: all 20ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  transform: translate(0%, -100%);
  overflow:hidden;
}
.collapsibleList label:hover {

}
.collapsibleList a:hover {

}

.collapsibleList li li> input + * {
 display: none;
}
 
.collapsibleList li li> input:checked + * {
 display: block;
}

.collapsibleList li li> input {
 display: none;
}

.dheader {
    display: none;
}
}

