#Menucontainer {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  background-color: #fff;
  top: 100px;
  height: 50px;
}

#menu {
    position: relative;
    /*float: none;*/
    width: 80%;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    border-radius: 0px;
    margin: auto;
    z-index: 10; 
}
#menu ul {
    list-style: none;
    margin: auto;
    padding: 0;
    float: left;
    width: 11em;
    border-radius: 0px;
    transition: 250ms ease all;
}

#menu a, #menu h2 {
    font: bold 20px sans-serif, arial, helvetica;
    display: block;
    border-width: 2px 2px 2px 2px;
    border-style: hidden;
    border-color: #ccc #888 #555 #bbb;
    margin: auto;
    padding: 2px 3px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}

#menu h2 {
    color: #fff;
    background: #000;
    text-transform: uppercase;
    border-radius: 0px;
}

#menu a {
    color: #000;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    /*background: rgba(255,255,255,0.2); /*#FFFFFF;*/
    text-decoration: none;
    text-align: center;
    border-radius: 0px;
}

#menu a:hover {
    color: #fff;
    /*background: #CCCCcc;*/
    background-image: linear-gradient(to bottom, #31708E 0%, #31708E 100%);
    transition: 300ms ease-in;
}

/* position the popout */

#menu li {position: relative;}

#menu ul ul {
    position: absolute;
    z-index: 500;
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

#menu ul ul ul {
    top: 0;
    left: 100%;
}

/* hiding the Hovers */

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;
transition: 300ms ease-in;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;
transition: 300ms ease-in;
z-index: 1;}